<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Quick Travel</strong> by <a href="https://github.com/lindseybowen/Quick_Travel">Lindsey Bowen, Mateo Ferreira, Purna Gurung, Luwenxi Song</a>
    </p>
  </div>
</footer>