<footer class="footer">
  <div class="content has-text-centered">
      <p>
              <strong>Quick Traveler</strong> 
              All rights reserved 2021 ©<a></a>. <br>
            </p>
  </div>
</footer>