<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title" style="color: Grey;">Flights</h1><br>
        <h1 id = 'alert' class="title" style="color: Grey;"></h1><br>
      </div>
    </div>

    <div id="app" class="row columns is-multiline">
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='./assets/js/flights.js'></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</html>