<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title" style="color: Grey;">Flights</h1><br>
        <h1 id = 'alert' class="title" style="color: Grey;"></h1><br>
      </div>
    </div>

    <div id="app" class="row columns is-multiline">
      {{!-- {{#each flights}} --}}
      {{!-- <div class="column is-4">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg"
                    alt="Image"></figure>
              </div>
              <div class="media-content">
                <p class="title is-4 no-padding">Lead Developer</p>
                <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p>
                <p class="subtitle is-6">Lead Developer</p>
              </div>
            </div>
            <div class="content">
              The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken,
              trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it
              had become hideous and twisted.
              <div class="background-icon"><span class="icon-twitter"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  --}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='./assets/js/flights.js'></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</html>