 <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
          
          <!-- logo or branding image on left side -->
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
            
              <img src="https://www.flaticon.com/svg/vstatic/svg/744/744502.svg?token=exp=1614132358~hmac=808dfee4c5ca405543e0eab760c9cff5" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
              <h1 class="has-text-weight-bold"> Quick Travel</h1>
            </a>

            <div class="navbar-burger"  data-target="navbar-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
      
          <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
          <div class="navbar-menu" id="navbar-menu">
            <!-- navbar items | left side -->
            <div class="navbar-start">
            
                  <div class="navbar-dropdown">
              
                </div>
            </div>
      
            <!-- navbar items | right side -->
            <div class="navbar-end">
              <a class="navbar-item is-active" href=""> Home</a>
              <a class="navbar-item" href="#">Menu</a>
              <a class="navbar-item" href="#">About</a>
              <a class="navbar-item" href="#">Sign in</a>
         
            </div>
      
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="section">
          <div class="columns">
            <div class="column has-text-centered">
              <h1 class="title" style="color: Grey;">Flights</h1><br>
            </div>
          </div>
          <div id="app" class="row columns is-multiline"><div class="column is-4"><div class="card large"><div class="card-image"><figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image"></figure></div> <div class="card-content"><div class="media"><div class="media-left"><figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg" alt="Image"></figure></div> <div class="media-content"><p class="title is-4 no-padding">Lead Developer</p> <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p> <p class="subtitle is-6">Lead Developer</p></div></div> <div class="content">
                    The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                    <div class="background-icon"><span class="icon-twitter"></span></div></div></div></div></div><div class="column is-4"><div class="card large"><div class="card-image"><figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image"></figure></div> <div class="card-content"><div class="media"><div class="media-left"><figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg" alt="Image"></figure></div> <div class="media-content"><p class="title is-4 no-padding">Lead Developer</p> <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p> <p class="subtitle is-6">Lead Developer</p></div></div> <div class="content">
                    The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                    <div class="background-icon"><span class="icon-twitter"></span></div></div></div></div></div><div class="column is-4"><div class="card large"><div class="card-image"><figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image"></figure></div> <div class="card-content"><div class="media"><div class="media-left"><figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg" alt="Image"></figure></div> <div class="media-content"><p class="title is-4 no-padding">Lead Developer</p> <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p> <p class="subtitle is-6">Lead Developer</p></div></div> <div class="content">
                    The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                    <div class="background-icon"><span class="icon-twitter"></span></div></div></div></div></div><div class="column is-4"><div class="card large"><div class="card-image"><figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image"></figure></div> <div class="card-content"><div class="media"><div class="media-left"><figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg" alt="Image"></figure></div> <div class="media-content"><p class="title is-4 no-padding">Lead Developer</p> <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p> <p class="subtitle is-6">Lead Developer</p></div></div> <div class="content">
                    The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                    <div class="background-icon"><span class="icon-twitter"></span></div></div></div></div></div><div class="column is-4"><div class="card large"><div class="card-image"><figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image"></figure></div> <div class="card-content"><div class="media"><div class="media-left"><figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg" alt="Image"></figure></div> <div class="media-content"><p class="title is-4 no-padding">Lead Developer</p> <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p> <p class="subtitle is-6">Lead Developer</p></div></div> <div class="content">
                    The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                    <div class="background-icon"><span class="icon-twitter"></span></div></div></div></div></div><div class="column is-4"><div class="card large"><div class="card-image"><figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image"></figure></div> <div class="card-content"><div class="media"><div class="media-left"><figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg" alt="Image"></figure></div> <div class="media-content"><p class="title is-4 no-padding">Lead Developer</p> <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p> <p class="subtitle is-6">Lead Developer</p></div></div> <div class="content">
                    The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                    <div class="background-icon"><span class="icon-twitter"></span></div></div></div></div></div><div class="column is-4"><div class="card large"><div class="card-image"><figure class="image is-16by9"><img src="https://source.unsplash.com/h-ACUrBngrw/1280x720" alt="Image"></figure></div> <div class="card-content"><div class="media"><div class="media-left"><figure class="image is-48x48"><img src="https://avatars.dicebear.com/api/initials/john%20doe.svg" alt="Image"></figure></div> <div class="media-content"><p class="title is-4 no-padding">Lead Developer</p> <p><span class="title is-6"><a href="http://twitter.com/twitterid"> twitterid </a></span></p> <p class="subtitle is-6">Lead Developer</p></div></div> <div class="content">
                    The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
                    <div class="background-icon"><span class="icon-twitter"></span></div></div></div></div></div></div>
        </div>
      </div>